table {
  border-collapse: collapse;
  width: 100%;
}

table td, table th {
  border: 1px solid #777777;
  text-align: center;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #9fb6ae
}